body {background-color: blueviolet;
}

h1 {text-align: center ;
color:black}

h2 {text-align: center ;
    color:black}

#imal {width: 82%;}

h3 {text-align: center ;
    color:black}

h4 {text-align: center ;
    color:black}
    
#imal {border-color: yellow;
border-style: double;
border-width: 120px;}

        